<div id="content">
<header id="headContainer">
    <div id="headerbar">
        <div id="app-title"><img src="./res/logo.png" /></div>
        <!--<div id="search-icon"><img src=""></img></div>-->
    </div>
    <div id="navi">
        <div id="navbar">
            <a class="link" href="#lawlist">Firma</a>
            <a class="link" href="#catgrid">Valuta</a>
            <a class="link" href="#propose">Proponi</a>
            <div id="cazzafa"></div>
        </div>
    </div>
</header>
<div id="contents">

</div>
</div>